.wrapper{
	box-shadow:0px 0px 12px 7px #e1e1e1;
	padding-top:10px;
	padding-bottom:30px;
}
.navigation{
	margin-top:45px;
}
.chart{
	width:80%;
	margin:0 auto;
	box-shadow:0px 0px 12px 7px #e1e1e1;
	padding-top:10px;
	padding-bottom:15px;
	margin-bottom:20px;
}
.chart_header{
	width:100%;
	border-bottom:1px solid #1D9A9A;
	margin-bottom:10px;
}
.chart_header h2{
	margin-left:20px;
	color:#1D9A9A;
}
.chart_option select{
	width: 90%;
	border: 2px solid #E1E1E1;
	height: 35px;
	margin:0 auto;
	display:block;
	margin-bottom:20px;
}
.chart_option select:hover{
	border: 2px solid #68B4D6;
}
.chart_option select:focus{
	border: 2px solid #68B4D6;
}
.chart_body{
	width:90%;
	display:block;
	margin:0 auto;
}


